body {
   background: linear-gradient(to bottom, #94FFFF 0%, #0B1F61 100%);
   background-repeat: no-repeat;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 20px;
}

.stars {
    position: relative;
    top: -450px;
    right: 150px;
}

.musk-image {
    margin-left: 370px;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.6); 
}

.click-image {
    box-shadow: 7px 7px 5px rgba(0,0,0,0.6);
}

h1.large-name {
    margin-left: 610px;
    color: darkslategray;
    text-transform: uppercase;
}

.quote {
    font-style: italic;
    margin-left: 500px;
}

.author {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 500px;
}

.about-musk {
    margin: 20px 150px 20px 150px;
    line-height: 30px;
}

.who-is {
    margin-left: 70px;
}

.funny-table {
    color: white;
    position: absolute;
    bottom: -640px;
    right: 410px;
    
}

.genius {
    font-size: 30px;
    color: darkslategray;
}

.achievements-names {
    color: white;
    position: absolute;
    bottom: -970px;
    margin-left: 250px;
    padding-bottom: 100px;
    font-size: 40px;
}

.tesla-symbol {
    position: absolute;
    margin-left: 620px;
    top: 1700px;
}

.achievements-list {
    margin-top: 300px;
    margin-left: 290px;
}

.spacex-symbol {
    position: absolute;
    bottom: -1300px;
    left: 50px;
}

.hyperloop-symbol {
    position: absolute;
    bottom: -1180px;
    right: 30px;
}

.list-item {
    color: white;
}

.more-info {
    color: white;
    padding-top: 100px;
    margin-left: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.click-image {
    margin-left: 470px;
    margin-top: 50px;
}

.video {
    position: absolute;
    right: 435px;
    top: 3200px;
}
.future {
    opacity: 0.5;
    bottom: 75px;
}

.about-video {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding-left: 470px;
    position: relative;
    top: 100px;
}

.site-item {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.site-navigation {
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}

.site-navigation .site-item {
    float: left;
}

ul.site-navigation a {
    display: block;
    width: 5em;
    padding:10px;
    margin: 0 5px;
    background-color: #5b96ad;
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 5%;
}

ul.site-navigation a:hover {
    background-color: rgb(65, 62, 62);
    color: #719ed8;
    color: #719ed8;
}